<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Menu</name>
    </assembly>
    <members>
        <member name="T:DinoDiner.Menu.Entrees.Brontowurst">
            <summary>
            Entree class to hold all the information about the current entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Brontowurst.Ingredients">
            <summary>
            Adds all of the ingredients to the list.
            <return>A list of strings with all of the ingredients included</return>
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.#ctor">
            <summary>
            Constructor to initiate the price and calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldBun">
            <summary>
            This method will remove "Whole Wheat Bun" from the ingredients list.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldPeppers">
            <summary>
            This method removes "Peppers" from the ingredients list.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldOnion">
            <summary>
            This method removes "Onion" from the ingredient list.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.DinoNuggets">
            <summary>
            Entree class to hold all the information about the current entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.DinoNuggets.Ingredients">
            <summary>
            Adds all of the ingredients to the list.
            <return>A list of strings with all of the ingredients included</return>
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.#ctor">
            <summary>
            Constructor to initiate the price and calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.AddNugget">
            <summary>
            Adds one nugget to the order and increases the price and calories for
            the new nugget.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.Entree">
            <summary>
            abstract class to store the ingredients, price, and calories for an entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.PrehistoricPBJ">
            <summary>
            Entree class to hold all the information about the current entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PrehistoricPBJ.Ingredients">
            <summary>
            Adds all of the ingredients to the list.
            <return>A list of strings with all of the ingredients included</return>
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.#ctor">
            <summary>
            Constructor to initiate the price and calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.HoldPeanutButter">
            <summary>
            Removes "Peanut Butter" from the ingredients list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.HoldJelly">
            <summary>
            Removes "Jelly" from the ingredients list
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.PterodactylWings">
            <summary>
            Entree class to hold all the information about the current entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PterodactylWings.Ingredients">
            <summary>
            Adds all of the ingredients to the list.
            <return>A list of strings with all of the ingredients included</return>
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PterodactylWings.#ctor">
            <summary>
            Constructor to initiate the price and calories.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.SteakosaurusBurger">
            <summary>
            Entree class to hold all the information about the current entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.SteakosaurusBurger.Ingredients">
            <summary>
            Adds all of the ingredients to the list.
            <return>A list of strings with all of the ingredients included</return>
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.#ctor">
            <summary>
            Constructor to initiate the price and calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldBun">
            <summary>
            Removes "Whole Wheat Bun" from the ingredients list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldPickle">
            <summary>
            Removes "Pickle" from the ingredients list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldKetchup">
            <summary>
            Removes "Ketchup" from the ingredients list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldMustard">
            <summary>
            Removes "Mustard" from the ingredients list
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.TRexKingBurger">
            <summary>
            Entree class to hold all the information about the current entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.TRexKingBurger.Ingredients">
            <summary>
            Adds all of the ingredients to the list.
            <return>A list of strings with all of the ingredients included</return>
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.#ctor">
            <summary>
            Constructor to initiate the price and calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldBun">
            <summary>
            Removes "Whole Wheat Bun" from the ingredients list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldLettuce">
            <summary>
            Removes "Lettuce" from the ingredients list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldTomato">
            <summary>
            Removes "Tomato" from the ingredients list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldOnion">
            <summary>
            Removes "Onion" from the ingredients list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldPickle">
            <summary>
            Removes "Pickle" from the ingredients list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldKetchup">
            <summary>
            Removes "Ketchup" from the ingredients list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldMustard">
            <summary>
            Removes "Mustard" from the ingredients list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldMayo">
            <summary>
            Removes "Mayo" from the ingredients list
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.VelociWrap">
            <summary>
            Entree class to hold all the information about the current entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.VelociWrap.Ingredients">
            <summary>
            Adds all of the ingredients to the list.
            <return>A list of strings with all of the ingredients included</return>
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.#ctor">
            <summary>
            Constructor to initiate the price and calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldDressing">
            <summary>
            Removes "Ceasar Dressing" from the ingredients list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldLettuce">
            <summary>
            Removes "Romaine Lettuce" from the ingredients list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldCheese">
            <summary>
            Removes "Parmesan Cheese" from the ingredients list
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Fryceritops">
            <summary>
            Side dish class to provide all the information about this side.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Fryceritops.Size">
            <summary>
            Will set the size and adjust the price and calories.
            <Returns>The current size</Returns>
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Fryceritops.Ingredients">
            <summary>
            Develops the list of ingredients in the current side.
            <Returns>All of the ingredients in a string List</Returns>
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.Fryceritops.#ctor">
            <summary>
            Constructor to set up the calories and price for this side.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.MeteorMacAndCheese">
            <summary>
            Side dish class to provide all the information about this side.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MeteorMacAndCheese.Size">
            <summary>
            Will set the size and adjust the price and calories.
            <Returns>The current size</Returns>
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MeteorMacAndCheese.Ingredients">
            <summary>
            Develops the list of ingredients in the current side.
            <Returns>All of the ingredients in a string List</Returns>
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.MeteorMacAndCheese.#ctor">
            <summary>
            Constructor to set up the calories and price for this side.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.MezzorellaSticks">
            <summary>
            Side dish class to provide all the information about this side.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MezzorellaSticks.Size">
            <summary>
            Will set the size and adjust the price and calories.
            <Returns>The current size</Returns>
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MezzorellaSticks.Ingredients">
            <summary>
            Develops the list of ingredients in the current side.
            <Returns>All of the ingredients in a string List</Returns>
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.MezzorellaSticks.#ctor">
            <summary>
            Constructor to set up the calories and price for this side.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Size">
            <summary>
            Enum to hold different size sides.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Side">
            <summary>
            Abstract side class to hold properties for price, ingredients, calories, and ingredients.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Triceritots">
            <summary>
            Side dish class to provide all the information about this side.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Triceritots.Size">
            <summary>
            Will set the size and adjust the price and calories.
            <Returns>The current size</Returns>
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Triceritots.Ingredients">
            <summary>
            Develops the list of ingredients in the current side.
            <Returns>All of the ingredients in a string List</Returns>
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.Triceritots.#ctor">
            <summary>
            Constructor to set up the calories and price for this side.
            </summary>
        </member>
    </members>
</doc>
